.single{
   display: grid;
   grid-template-columns: 70% 30%;
   padding: 4rem 0;
}

.single .singleLeft
 {
   padding: 1rem 4rem;
}

.single .singleLeft .singleTop{
   display: flex;
   justify-content: space-between;
}

.single .singleLeft .singleTop h2{
   width: 50%;
   font-size: 3rem;
   font-weight: bolder;
}

.drop{
   margin: 10px 0;
   width: 100%;
   height: 200px;
   background: #F4F5F6;
   border-radius: 10px;
   display: flex;
   justify-content: center;
    align-items: center;

}

.drop i{
   font-size: 2rem;
   padding: 1rem 0;
}

.singleItem input,
.singleItems input{
   width: 100%;
   padding: .9rem 0;
   margin: .3rem 0 1rem 0;
   border: 1px solid #777E90;
   border-radius: 5px;
}

.singleItems{
   display: flex;
   justify-content: space-between;
}

.singleBottom{
   display: flex;
   justify-content: space-between;
   padding: .7rem 0;
}

.singleBoxs{
   display: flex;
}

.singleBox{
   width: 170px;
   height: 120px;
   background: #E6E8EC;
   border-radius: 10px;
   margin: 0 .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.singleBox .circle{
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

/*Toggle Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.single .singleRight {
   padding: 2rem;
   border-radius: 10px;
   height: 464px;
}

.single .singleRight:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}